@import "./base.css";
#app {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
}
.input {
  height: 42px;
  min-width: 320px;
  font-size: 24px;
  border: 0;
  border-bottom: 1px solid;
  color: var(--color-text);
  background-color: var(--color-bg-board);
}

.input:focus,
.input:focus-visible,
.input:active {
  outline: none;
  border-bottom: 1px solid;
}
.btn {
  border: 1px solid rgb(136, 136, 136);
  border-radius: 8px;
  height: 42px;
  min-width: 320px;

  font-size: 24px;
  color: var(--color-text-primary);
  background-color: var(--color-btn);
}
.btn:hover {
  height: 42px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-btn-hover);
}
.link {
  color: #494949;
  font-size: 20px;
  text-decoration: none;
  color: var(--color-text);
}
.link:hover {
  color: var(--color-text-primary);
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;

  width: 500px;
  min-width: 310px;
  height: fit-content;

  border-radius: 8px;
  background-color: var(--color-bg-board);
}
